@{
    ViewBag.Title = "Home Page";
}

<p></p>
<p>There are seven coloured cubes below</p>
@* Creating canvases for each colour in db *@
@foreach (string colour in new List<string>() { "Red", "Orange", "Yellow", "Green", "LBlue", "Blue", "Violet" })
{
    <canvas id=@colour width="100" height="100"></canvas>
}
@* Filling created canvases with colours *@
<script src="~/Scripts/CanvasDrawing.js"></script>